<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link th:replace="fragments/header :: header(Home)" />
    <script th:inline = "javascript">
        /*<![CDATA[*/
        "use strict";
        var autocomplete;
        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
              autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('mapsearch')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            console.log(place.geometry.location.lat());
            console.log(place.geometry.location.lng());
            console.log(place);


        }
        /*]]>*/
    </script>
    <script th:src="@{ 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2UFPuK_2nL3FPcjAOeilpUxUirnYptA&amp;libraries=places&amp;callback=initAutocomplete'}"
            async="async" defer="defer">
    </script>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create Event</h5>
                    <form class="form-signin" th:action="@{/events/create}" method="post" id="searchForm" th:object="${event}">

                                <div class="form-label-group">
                                    <label for="exampleFormControlSelect1">Sport</label>
                                    <select class="form-control" id="exampleFormControlSelect1" th:field="*{eventSport}">
                                        <option th:each="category : ${categories}" th:text="${category.sport}" th:value="${category.id}"></option>
                                    </select>
                                </div>
                        <div class="form-label-group">
                            <label>Name</label>
                            <input type="text" class="form-control" th:field="*{eventName}" />
                        </div>
                        <div class="form-label-group">
                            <label>Description</label>
                            <textarea  class="form-control" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-label-group">
                            <label>Date and time</label>
                            <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" th:field="*{eventDate}" />
                        </div>
                        <div class="form-label-group">
                            <label>Location</label>
                            <input class="form-control" th:field="*{locationApi}" type="hidden"/>
                        </div>
                        <div class="form-label-group">
                            <input id="mapsearch" type="text" class="validate form-control" placeholder=" " />
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit" value="Create Event">Create Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
​
<!--<div class="list-group">-->
<!--<th:block th:each="event : ${events}">-->
<!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">-->
<!--<div class="d-flex w-100 justify-content-between">-->
<!--<h5 class="mb-1" th:text="${event.eventName}"></h5>-->
<!--</div>-->
<!--<p class="mb-1" th:text="${event.description}"></p>-->
<!--<small th:text="${event.eventByUser.username}"></small>-->
<!--</a>-->
<!--</th:block>-->
<!--</div>-->
​
​
<!--<h1>Posts from forum</h1>-->
<!--<div class="list-group">-->
<!--<th:block th:each=" post: ${posts}">-->
<!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">-->
<!--<div class="d-flex w-100 justify-content-between">-->
<!--<h5 class="mb-1" th:text="${post.title}"></h5>-->
<!--</div>-->
<!--<p class="mb-1" th:text="${post.body}"></p>-->
<!--</a>-->
<!--</th:block>-->
<!--</div>-->
​
​
<!--<div id="map"></div>-->
<div th:include="fragments/footer :: footer"></div>
​
<!--<script th:inline = "javascript">-->
<!--/*<![CDATA[*/-->
<!--"use strict";-->
<!--var map;-->
<!--function initMap() {-->
<!--map = new google.maps.Map(document.getElementById('map'), {-->
<!--center: {-->
<!--lat:  29.426791,-->
<!--lng: -98.489602-->
<!--},-->
<!--zoom: 18-->
<!--});-->
<!--var marker = new google.maps.Marker({-->
<!--position:{-->
<!--lat:  29.426791,-->
<!--lng: -98.489602-->
<!--},-->
<!--map: map,-->
<!--draggable: true-->
​
<!--})-->
<!--var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch'));-->
<!--}-->
​
​
<!--/*]]>*/-->
<!--</script>-->
​
</body>
</html>