<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Events</title>
    <link th:replace="fragments/header :: header(Events)" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main class="event-container">

    <h1 style="color: white;" class="text-center mt-5">All Events</h1>

    <div class="container">
        <div class="row">
            <th:block th:each="event : ${event}">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <label class="text-center">Event Name</label>
                            <div class="form-label-group">
                                <h2 class="mb-3" th:text="${event.eventName}"></h2>
                            </div>
                            <label class="text-center">Creator</label>
                            <div class="form-label-group">
                                <small th:text="${event.eventCreator.username}"></small>
                            </div>
                            <a th:href="@{'/events/' + ${event.getId()}}" th:method="GET">
                                <button th:id="${event.id}" class="btn btn-lg btn-primary btn-block text-uppercase mt-3">View Event</button>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>