<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Event</title>
    <link th:replace="fragments/header :: header(Event)" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="form-label-group">
                        <h1 class="text-center" th:text="${event.eventName}" style="color: #1574bd"></h1>
                    </div>
                    <hr />
                    <h5 class="text-center">Description</h5>
                    <div class="form-label-group">
                        <p class="text-center" th:text="${event.description}"></p>
                    </div>
                    <h5 class="text-center">Date and Time</h5>
                    <div class="form-label-group">
                        <p  class="card-text text-center" th:text="${#dates.format(event.getEventDate(), 'MM-dd-yyyy')}"></p>
                        <p class="card-text text-center" th:text="${#dates.format(event.getEventDate(), 'HH:mm')}"></p>
                    </div>
                    <h5 class="text-center">Location</h5>
                    <div class="form-label-group">
                        <p class="text-center" th:text="${event.locationApi}"></p>
                    </div>
                    <h5 class="text-center">Creator</h5>
                    <div class="form-label-group">
                        <p class="text-center" th:text="${event.eventCreator.username}"></p>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <th:block th:if="${#authentication.principal.id} != ${event.eventCreator.id}" >
                            <form th:action="@{'/events/' + ${event.id} + '/join'}" th:method="POST">
                                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase mt-3">Join Event</button>
                            </form>
                        </th:block>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <th:block th:if="${#authentication.principal.id} == ${event.eventCreator.id}" >
                            <form th:action="@{'/events/' + ${event.getId()} + '/edit'}" th:method="GET">
                                <button th:id="${event.id}" class="btn btn-lg btn-primary btn-block text-uppercase mt-3">Edit</button>
                            </form>
                            <form th:action="@{'/events/' + ${event.id} + '/delete'}" th:method="POST">
                                <button id="${event.id}" class="btn btn-lg btn-danger btn-block text-uppercase mt-3">Delete</button>
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    <main class="container">-->
<!--        <div>-->
<!--            <h1 th:text="${event.eventName}"></h1>-->
<!--            <p th:text="${event.description}"></p>-->
<!--            <p th:text="${event.eventDate}"></p>-->
<!--            <p th:text="${event.locationApi}"></p>-->
<!--            <p th:text="${event.eventSport}"></p>-->
<!--            <small th:text="${event.eventCreator.username}"></small>-->
<!--            <small th:text="${event.eventCreator.email}"></small>-->
<!--        </div>-->
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <th:block th:if="${#authentication.principal.id} != ${event.eventCreator.id}" >-->
<!--            <form th:action="@{'/events/' + ${event.id} + '/join'}" th:method="POST">-->
<!--                <button type="submit">Join Event</button>-->
<!--            </form>-->
<!--            </th:block>-->
<!--        </div>-->
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <th:block th:if="${#authentication.principal.id} == ${event.eventCreator.id}" >-->
<!--                <form th:action="@{'/events/' + ${event.id} + '/delete'}" th:method="POST">-->
<!--                    <button id="${event.id}">Delete</button>-->
<!--                </form>-->
<!--                <form th:action="@{'/events/' + ${event.getId()} + '/edit'}" th:method="GET">-->
<!--                    <button th:id="${event.id}">Edit</button>-->
<!--                </form>-->
<!--            </th:block>-->
<!--        </div>-->
<!--    </main>-->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>