<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header('Quick Scrim')">
    <link rel="stylesheet" type="text/css" href="../css/modern-business.css" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Edit Profile</h5>

                    <hr />
    <form class="form-signin" th:action="@{'/profile/' + ${profile.getId()} + '/edit'}" method="post" th:object="${profile}">
        <div class="text-center">
            <input type="hidden" id="image" th:field="*{image}" th:value="${profile.getImage()}"/>
            <br />
        </div>

        <label class="text-center">Username:</label>
        <div class="form-label-group">
        <input class="form-control" id="username" type="text" th:field="*{username}" th:value="${profile.getUsername()}"/>
        </div>

        <label class="text-center">E-mail:</label>
        <div class="form-label-group">
            <input class="form-control" type="email" th:field="*{email}" th:value="${profile.getEmail()}"/>
        </div>

        <label class="text-center">First Name:</label>
        <div class="form-label-group">
            <input class="form-control" type="text" th:field="*{firstName}" th:value="${profile.getFirstName()}"/>
        </div>

        <label class="text-center">Last Name:</label>
        <div class="form-label-group">
            <input class="form-control" type="text" th:field="*{lastName}" th:value="${profile.getLastName()}"/>
       </div>


        <label class="text-center">Bio:</label>
        <div class="form-label-group">
            <textarea class="form-control" th:field="*{bio}" th:value="${profile.getBio()}" />
        </div>


            <label class="text-center">City:</label>
        <div class="form-label-group">
            <input class="form-control" type="text" th:field="*{city}" th:value="${profile.getCity()}"/>
        </div>

        <div class="form-label-group">
        <input type="hidden" th:field="*{password}"/>

        </div>

        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Log In">Update Profile</button>

    </form>


                </div>
            </div>
        </div>
    </div>
</div>








<div th:replace="fragments/footer :: footer"></div>
</body>

</html>