.landing-carousel-img {
    height: 400px;
    width: 800px;
}

.team-member-photo {
    width:100%;
}

.social-icon {
    width:40px;

}

.footer{
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}
#navbar-profile-img {
    height: 100px;
}