<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Forum Sport Select</title>
</head>
<body>

    <div>
        <h1>Select the sport you want to view posts for:</h1>

            <ul>
                <li><h3><a th:href="@{'posts'}">View All Posts</a></h3></li>
            </ul>

            <ul>
                <li><a href=""><img th:src="@{/img/basketball.png}" alt="basketball" /></a></li>
                <li><a href=""><img th:src="@{/img/soccer.png}" alt="soccer" /></a></li>
                <li><a href=""><img th:src="@{/img/baseball.png}" alt="baseball" /></a></li>
                <li><a href=""><img th:src="@{/img/football.png}" alt="football" /></a></li>
            </ul>

            <ul>
                <li><a href=""><img th:src="@{/img/volleyball.png}" alt="volleyball" /></a></li>
                <li><a href=""><img th:src="@{/img/tennis.png}" alt="tennis" /></a></li>
                <li><a href=""><img th:src="@{/img/bowling.png}" alt="bowling" /></a></li>
                <li><a href=""><img th:src="@{/img/pool.png}" alt="pool" /></a></li>
            </ul>

            <ul>
                <li><a href=""><img th:src="@{/img/pingpong.png}" alt="pingpong" /></a></li>
                <li><a href=""><img th:src="@{/img/golf.png}" alt="golf" /></a></li>
                <li><a href=""><img th:src="@{/img/boxing.png}" alt="boxing" /></a></li>
                <li><a href=""><img th:src="@{/img/hockey.png}" alt="hockey" /></a></li>
            </ul>

            <ul>
                <li><a href=""><img th:src="@{/img/running.png}" alt="running" /></a></li>
                <li><a href=""><img th:src="@{/img/swimming.png}" alt="swimming" /></a></li>
                <li><a href=""><img th:src="@{/img/cycling.png}" alt="cycling" /></a></li>
                <li><a href=""><img th:src="@{/img/archery.png}" alt="archery" /></a></li>
            </ul>


    </div>

</body>
</html>