<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div>

    <form th:action="@{'/posts/create'}" method="post" th:object="${post}">

        <label for="title">Title: </label>
        <input id="title" type="text" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

        <label for="body">Body: </label>
        <textarea id="body" th:field="*{body}"></textarea>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>

        <div class="form-label-group">
            <label for="exampleFormControlSelect1">Sport: </label>
            <select class="form-control" id="exampleFormControlSelect1" th:field="*{postCategory}">
                <option th:each="category : ${categories}" th:text="${category.sport}" th:value="${category.id}"></option>
                <p th:if="${#fields.hasErrors('postCategory')}" th:errors="*{postCategory}"></p>
            </select>
        </div>

        <input type="hidden" th:field="*{postAuthor}"/>
        <input type="submit" value="Create Post"/>
    </form>

</div>

</body>
</html>