<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div>

    <form th:action="@{'/posts/create'}" method="post" th:object="${post}">

        <label for="title">Title:</label>
        <input id="title" type="text" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

        <label for="body">Body:</label>
        <textarea id="body" th:field="*{body}"></textarea>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>


        <input type="hidden" th:field="*{postAuthor}"/>
        <input type="submit" value="Create Post"/>
    </form>

</div>

</body>
</html>