<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link th:replace="fragments/header :: header(Forum)" />
    <link rel="stylesheet" type="text/css" href="../css/modern-business.css" />
    <link rel="stylesheet" type="text/css" href="../css/post-style" />

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div>

    <form th:action="@{'/posts/create'}" method="post" th:object="${post}">

       <div class="form-signin">
        <label for="title"></label>
        <input id="title" placeholder="Post Title" type="text" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
       </div>

       <div class="form-signin">
        <label for="body"></label>
        <textarea id="body" placeholder="Post Body" th:field="*{body}"></textarea>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
       </div>

        <div class="form-signin">
            <label for="exampleFormControlSelect1"></label>
            <select class="form-control" id="exampleFormControlSelect1" th:field="*{postCategory}">
                <option th:each="category : ${categories}" th:text="${category.sport}" th:value="${category.id}"></option>
                <p th:if="${#fields.hasErrors('postCategory')}" th:errors="*{postCategory}"></p>
            </select>
        </div>

        <input type="hidden" th:field="*{postAuthor}"/>
        <input type="submit" value="Create Post"/>
    </form>

</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>