<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Post View</title>
    <link th:replace="fragments/header :: header(Forum)" />
    <link rel="stylesheet" type="text/css" href="../css/modern-business.css" />
    <link rel="stylesheet" type="text/css" href="../css/post-style" />

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="column"><a th:href="@{/posts}">Back to posts</a></div>
        <div class="column"><h2 th:text="${post.getTitle()}"></h2></div>
    </div>

    <div class="row">
        <div class="column">
            <em>
                <h6 th:text="'Posted by ' + ${post.getPostAuthor().getUsername()}"></h6>
            </em>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="column">
                <p th:text="${post.getBody()}"></p>
                <p th:text="${post.getPostCategory().sport}"></p>
        </div>
    </div>

    <hr/>

    <div class="row" sec:authorize="isAuthenticated()">
        <th:block th:if="${#authentication.principal.id} == ${post.postAuthor.id}">
        <div class="column">
            <a th:href="@{'/posts/' + ${post.getId()} + '/edit'}" class="button button-outline">Edit Post</a>
            <form th:action="@{'/posts/' + ${post.getId()} + '/delete'}" method="post" th:object="${post}">
                <input class="button button-outline" type="submit" value="Delete Post"/>
            </form>
        </div>
        </th:block>
    </div>

</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>