<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Post View</title>
    <link th:replace="fragments/header :: header(Forum)" />
    <link rel="stylesheet" type="text/css" href="../css/modern-business.css" />
    <link rel="stylesheet" type="text/css" href="../css/post-style" />

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                        <a class="btn btn-lg btn-primary btn-block text-uppercase mt-3" th:href="@{/posts}">Back to posts</a>

                        <hr/>

                        <div class="form-label-group">
                            <p class="column font-weight-bold"><h2 th:text="${post.getTitle()}"></h2></p>
                        </div>

                        <div class="form-label-group">
                            <p class="font-italic" th:text="'Posted by ' + ${post.getPostAuthor().getUsername()}"></p>
                        </div>

                        <div class="form-label-group">
                            <p th:text="${post.getBody()}"></p>
                            <p th:text="${post.getPostCategory().sport}"></p>
                        </div>

                        <hr/>

                        <div sec:authorize="isAuthenticated()">
                            <th:block th:if="${#authentication.principal.id} == ${post.postAuthor.id}">
                            <div class="column">

                                <form th:action="@{'/posts/' + ${post.getId()} + '/edit'}" th:object="${post}" >
                                    <input class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit" value="Edit Post"/>
                                </form>

                                <form th:action="@{'/posts/' + ${post.getId()} + '/delete'}" method="post" th:object="${post}">
                                    <input class="btn btn-lg btn-danger btn-block text-uppercase mt-3" type="submit" value="Delete Post"/>
                                </form>

                            </div>
                            </th:block>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>