<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link th:replace="fragments/header :: header(Home)" />
    <style>
        #map {
            width: 400px;
            height: 400px;
        }
    </style>
</head>'
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- just shoe events and posts you created or joined-->
<div class="list-group">
    <th:block th:each="event : ${events}">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${event.eventName}"></h5>
            </div>
            <p class="mb-1" th:text="${event.description}"></p>
            <p class="mb-1" th:text="${event.eventCreator.username}"></p>
        </a>
    </th:block>
</div>


<h1>Posts from forum</h1>
<div class="list-group">
    <th:block th:each=" post: ${posts}">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${post.title}"></h5>
            </div>
            <p class="mb-1" th:text="${post.body}"></p>
        </a>
    </th:block>
</div>


<div id="map"></div>
<div th:include="fragments/footer :: footer"></div>
<script th:src="@{ 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2UFPuK_2nL3FPcjAOeilpUxUirnYptA&amp;libraries=places&amp;callback=initMap'}"
async="async" defer="defer">
</script>
<script th:inline = "javascript">
    /*<![CDATA[*/
    "use strict";
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat:  29.426791,
                lng: -98.489602
            },
            zoom: 18
        });
    var marker = new google.maps.Marker({
        position:{
            lat:  29.426791,
            lng: -98.489602
        },
        map: map,
        draggable: true

    })
        var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch'));
    }


    /*]]>*/
</script>

</body>
</html>


