<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link th:replace="fragments/header :: header(Home)" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create Event</h5>
                    <form class="form-signin" th:action="@{/home}" method="post" th:object="${event}">
                        <div class="form-label-group">
                            <label>Name</label>
                            <input type="text" class="form-control" th:field="*{eventName}" />
                        </div>
                        <div class="form-label-group">
                            <label>Description</label>
                            <textarea  class="form-control" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-label-group">
                            <label>Date and time</label>
                                <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" th:field="*{eventDate}" />
                        </div>
                        <div class="form-label-group">
                            <label>Location</label>
                            <input class="form-control" th:field="*{locationApi}"  />
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Create Event">Create Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    <th:block th:each="event : ${events}">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${event.eventName}"></h5>
            </div>
            <p class="mb-1" th:text="${event.description}"></p>
            <small th:text="${event.eventByUser.username}"></small>
        </a>
    </th:block>
</div>


<h1>Posts from forum</h1>
<div class="list-group">
    <th:block th:each=" post: ${posts}">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${post.title}"></h5>
            </div>
            <p class="mb-1" th:text="${post.body}"></p>
            <small th:text="${post.postByUser.username}"></small>
        </a>
    </th:block>
</div>



<div th:include="fragments/footer :: footer"></div>
</body>
</html>