<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
   <div th:include="fragments/header :: header (LogIn) "></div>
</head>
<body>

<div th:if="${param.error}">
    You have entered an invalid username and/or password. Please try again
</div>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" th:action="@{/login}" method="post">
                        <div class="form-label-group">
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text" class="form-control" />
                        </div>
                        <div class="form-label-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" class="form-control" />
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" />
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Log In">Sign In</button>
                        <hr class="my-4" />
                    </form>
                    <form action="/register" class="form-signin">
                        <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit" >Register Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>
