<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
   <div th:include="fragments/header :: header (LogIn) "></div>
    <link rel="stylesheet" type="text/css" href="../css/modern-business.css" />

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <div class="text-center" style="color: red;" th:if="${param.error}">
                        You have entered an invalid username and/or password. Please try again
                    </div>
                    <div class="text-center" style="color: red;" th:if="${param.logout}">
                        You have been logged out
                    </div>
                    <br/>
                    <form class="form-signin" th:action="@{/login}" method="post">
                            <label for="username" class="text-center">Username</label>
                        <div class="form-label-group">
                            <input id="username" name="username" type="text" class="form-control" />
                        </div>
                            <label for="password" class="text-center">Password</label>
                        <div class="form-label-group">
                            <input id="password" name="password" type="password" class="form-control" />
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Log In">Sign In</button>
                        <hr class="my-4" />
                    </form>
                    <form action="/register" class="form-signin">
                        <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit" >Register Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>
