<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <div th:include="fragments/header :: header (Register) "></div>
    <link rel="stylesheet" type="text/css" href="../css/modern-business.css" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Registration Form</h5>
                    <form  class ="form-signin" th:action="@{/register}" method="post" th:object="${user}">
                        <div class="form-label-group">
                            <input type="text" class="form-control" th:field="*{username}" aria-describedby="username" />
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            <label>Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="email" class="form-control" th:field="*{email}" aria-describedby="email" />
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            <label>Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" th:field="*{password}" class="form-control" aria-describedby="passwordHelpBlock" />
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            <label>Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password"  class="form-control" aria-describedby="passwordHelpBlock" />
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            <label>Confirm Password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Log In">Register Now!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>