<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<div th:fragment="navbar">


    <!-- This displays for guests -->
    <nav class="navbar navbar-expand navbar-light bg-light p-0 m-0">
        <a class="navbar-brand" href="/"><img class="logo" src="/img/qs-done.png" alt="Quick Scrim Logo"/></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div sec:authorize="isAnonymous()" class="ml-auto">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

            </div>

        <!-- This displays for users/admin -->
        <div sec:authorize="isAuthenticated()" class="ml-auto">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="navbar-profile-img" th:src="${#authentication.principal.image}" class="rounded-circle" /><span th:text="${#authentication.name}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/events/index">Events</a>
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/events/create">Create Event</a>
                        <div class="dropdown-divider"></div>
<!--                        <a class="dropdown-item" href="/teams">Groups</a>-->
<!--                            <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="/posts">Forums</a>
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.principal.id}}">Profile</a>
                    </div>
                </li>
            </ul>
        </div>

        </div>
    </nav>

</div>
</html>

