<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header('Our Team')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
            <h1>Our Team</h1>
    </div>

    <div class="row">

    <div class="col-sm">
            <div class="profile-block">
                <img class="team-member-photo" src="../img/about/EdwinBuendia-800.jpg" />
                <h3  class="team-member-name">Edwin Buendia</h3>

                    <div class="row">
                        <div class="col mx-auto">
                            <a href="https://alumni.codeup.com/students/654"><img class="social-icon mx-auto" src="../img/social-icons/codeup.png" /></a>
                        </div>
                        <div class="col mx-auto">
                            <a href="https://github.com/buendiaedwin"><img class="social-icon mx-auto" src="../img/social-icons/git-hub.png" /></a>
                        </div>
                        <div class="col mx-auto">
                            <a href="https://www.linkedin.com/in/edwinbuendia/"><img class="social-icon mx-auto" src="../img/social-icons/linked-in.png" /></a>
                        </div>
                    </div>

            </div>
    </div>

    <div class="col-sm">
            <div class="profile-block">
                <img class="team-member-photo" src="../img/about/MatthewButtler-800.jpg" />
                <h3  class="team-member-name">Matthew Butler</h3>

                <div class="row">
                    <div class="col mx-auto">
                        <a href="https://alumni.codeup.com/students/637"><img class="social-icon mx-auto" src="../img/social-icons/codeup.png" /></a>
                    </div>
                    <div class="col mx-auto">
                        <a href="https://github.com/mattbutler2499"><img class="social-icon mx-auto" src="../img/social-icons/git-hub.png" /></a>
                    </div>
                    <div class="col mx-auto">
                        <a href="https://www.linkedin.com/in/butler-matthew//"><img class="social-icon mx-auto" src="../img/social-icons/linked-in.png" /></a>
                    </div>
                </div>

            </div>
    </div>

    <div class="col-sm">
            <div class="profile-block">
                <img class="team-member-photo" src="../img/about/HarleyGarcia-800.jpg" />
                <h3  class="team-member-name">Harley Garcia</h3>

                <div class="row">
                    <div class="col mx-auto">
                        <a href="https://alumni.codeup.com/students/644"><img class="social-icon mx-auto" src="../img/social-icons/codeup.png" /></a>
                    </div>
                    <div class="col mx-auto">
                        <a href="https://github.com/HarleyGarcia36"><img class="social-icon mx-auto" src="../img/social-icons/git-hub.png" /></a>
                    </div>
                    <div class="col mx-auto">
                        <a href="https://www.linkedin.com/in/harley-garcia/"><img class="social-icon mx-auto" src="../img/social-icons/linked-in.png" /></a>
                    </div>
                </div>

            </div>
    </div>

    <div class="col-sm">
            <div class="profile-block">
                <img class="team-member-photo" src="../img/about/NathanielDowell-800.jpg" />
                <h3  class="team-member-name">Nathaniel Dowell</h3>

                <div class="row">
                    <div class="col mx-auto">
                        <a href="https://alumni.codeup.com/students/645"><img class="social-icon mx-auto" src="../img/social-icons/codeup.png" /></a>
                    </div>
                    <div class="col mx-auto">
                        <a href="https://github.com/NathanielDowell"><img class="social-icon mx-auto" src="../img/social-icons/git-hub.png" /></a>
                    </div>
                    <div class="col mx-auto">
                        <a href="https://www.linkedin.com/in/nathaniel-dowell/"><img class="social-icon mx-auto" src="../img/social-icons/linked-in.png" /></a>
                    </div>
                </div>

            </div>
    </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>