<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header('Our Team')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <h1 style="color: white; font-size: 4em" class="mx-auto mt-5">Our Team</h1>
    </div>

    <div class="row">

    <div class="card col-sm my-5 m-2 rounded">
            <div class="profile-block">
                <h3  class="team-member-name text-center mt-3 mb-0">Edwin Buendia</h3>
                <img class="team-member-photo mt-3 mb-3" src="../img/about/EdwinBuendia-800.jpg" />

                    <div class="row">
                        <div class="col d-flex justify-content-center m-2">
                            <a href="https://alumni.codeup.com/students/654"><img class="social-icon ml-1 mr-1" src="../img/social-icons/codeup.png" /></a>
                            <a href="https://github.com/buendiaedwin"><img class="social-icon ml-1 mr-1" src="../img/social-icons/git-hub.png" /></a>
                            <a href="https://www.linkedin.com/in/edwinbuendia/"><img class="social-icon ml-1 mr-1" src="../img/social-icons/linked-in.png" /></a>
                        </div>
                    </div>

            </div>
    </div>

    <div class="card col-sm my-5 m-2 rounded">
            <div class="profile-block">
                <h3  class="team-member-name text-center mt-3 mb-0">Matthew Butler</h3>
                <img class="team-member-photo mt-3 mb-3" src="../img/about/MatthewButtler-800.jpg" />

                <div class="row">
                    <div class="col d-flex justify-content-center m-2">
                        <a href="https://alumni.codeup.com/students/637"><img class="social-icon ml-1 mr-1" src="../img/social-icons/codeup.png" /></a>
                        <a href="https://github.com/mattbutler2499"><img class="social-icon ml-1 mr-1" src="../img/social-icons/git-hub.png" /></a>
                        <a href="https://www.linkedin.com/in/butler-matthew//"><img class="social-icon ml-1 mr-1" src="../img/social-icons/linked-in.png" /></a>
                    </div>
                </div>

            </div>
    </div>

    <div class="card col-sm my-5 m-2 rounded">
            <div class="profile-block">
                <h3  class="team-member-name text-center mt-3 mb-0">Harley Garcia</h3>
                <img class="team-member-photo mt-3 mb-3" src="../img/about/HarleyGarcia-800.jpg" />

                <div class="row">
                    <div class="col d-flex justify-content-center m-2">
                        <a href="https://alumni.codeup.com/students/644"><img class="social-icon ml-1 mr-1" src="../img/social-icons/codeup.png" /></a>
                        <a href="https://github.com/HarleyGarcia36"><img class="social-icon ml-1 mr-1" src="../img/social-icons/git-hub.png" /></a>
                        <a href="https://www.linkedin.com/in/harley-garcia/"><img class="social-icon ml-1 mr-1" src="../img/social-icons/linked-in.png" /></a>
                    </div>
                </div>

            </div>
    </div>

    <div class="card col-sm my-5 m-2 rounded">
            <div class="profile-block">
                <h3  class="team-member-name text-center mt-3 mb-0">Nathaniel Dowell</h3>
                <img class="team-member-photo mt-3 mb-3" src="../img/about/NathanielDowell-800.jpg" />

                <div class="row">
                    <div class="col d-flex justify-content-center m-2">
                        <a href="https://alumni.codeup.com/students/645"><img class="social-icon ml-1 mr-1" src="../img/social-icons/codeup.png" /></a>
                        <a href="https://github.com/NathanielDowell"><img class="social-icon ml-1 mr-1" src="../img/social-icons/git-hub.png" /></a>
                        <a href="https://www.linkedin.com/in/nathaniel-dowell/"><img class="social-icon ml-1 mr-1" src="../img/social-icons/linked-in.png" /></a>
                    </div>
                </div>

            </div>
    </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>