@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Graduate|Righteous|Open+Sans:600i&display=swap');
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
}

.logo {
    width:80px;
}

#banner-title {
    font-size: 30px !important;
    color: #1574bd !important;
    padding-right: 1em;
}


.headline-font {
    /*font-family: 'Graduate', cursive !important;*/
    /*font-family: 'Bungee Inline', cursive;*/
    font-family: 'Righteous', cursive !important;
}

.team-member-name {
    color:#1574bd !important;
}

.landing-carousel-img {
    width:800px;
    height:400px;
}

.team-member-photo {
    border-radius: 1em;
    width:100%;
}

.social-icon {
    width:40px;
    margin-bottom: 30px;

}

.user-name-style {
    margin-right: 20px;
}

#navbar-profile-img {
    height: 45px;
}

#authenticated-navbar-block {
    margin-right:50px;
}

.fixSearchBar{
    display: initial;
}