<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Quick Scrim')"></head>
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Modern Business - Start Bootstrap Template</title>
  <link href="../css/modern-business.css" rel="stylesheet" />
</head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">


        <div class="carousel-item active" style="background-image: url(/img/leading-image-sm.jpg)">
            <div class="carousel-caption mx-auto my-5 rounded card" style="background: rgba(80, 120, 150, .4);">
              <h1 class="headline-font">QuickScrim</h1>
              <h3>Sign up. Find games. Go play!</h3>
            </div>
        </div>

        <div class="carousel-item" style="background-image: url(/img/phone3r-sm.jpg)">
          <div class="carousel-caption mx-auto my-5 rounded card" style="background: rgba(80, 120, 150, .3);">
            <h1>Search!</h1>
            <h3>Find a game near you!</h3>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(/img/soccer-1-sm.jpg)">
          <div class="carousel-caption mx-auto my-5 rounded card" style="background: rgba(80, 120, 150, .4);">
            <h1>Play!</h1>
            <h3>Over 20 sports to choose from!</h3>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(/img/bowling-sm.jpg)">
          <div class="carousel-caption mx-auto my-5 rounded card" style="background: rgba(80, 120, 150, .5);">
            <h1>Connect!</h1>
            <h3>Find your next team!</h3>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4 text-center " style="color: white">Welcome to <span class="headline-font">QuickScrim</span>!</h1>

    <!-- Marketing Icons Section -->
    <div class="row">

      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center " style="color:#1574bd" >Create an event!</h4>
          <div class="card-body">
            <p class="card-text text-center" style="color:lightslategray; font-size:1.2em;">Know a place to play? Organize an event others can join!</p>
          </div>
          <div class="card-footer text-center text-center">
            <a th:href="@{'/events/create'}" class="btn btn-primary">Create event!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center " style="color:#1574bd" >Check out the forums!</h4>
          <div class="card-body text-center">
            <p class="card-text text-center" style="color:lightslategray; font-size:1.2em;">Ask questions, make connections, build community!</p>
          </div>
          <div class="card-footer text-center">
            <a th:href="@{'/posts'}" class="btn btn-primary text-center">See the Forums!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center " style="color:#1574bd" >No Account? No Problem!</h4>
          <div class="card-body text-center">
            <p class="card-text text-center" style="color:lightslategray; font-size:1.2em;">Registration is absolutely<br /><strong>free!</strong></p>
          </div>
          <div class="card-footer text-center">
            <a th:href="@{'/register'}" class="btn btn-primary text-center">Register Now!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>

    <div th:include="fragments/footer :: footer"></div>
</body>
</html>
